@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #2F1B41;
  background-image: url("./assets/images/lofi-bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
}